.ContactUsForm > div > .MuiTextField-root {
  width: 48%;
}

@media (max-width: 767px) {
  .ContactUsForm > div > .MuiTextField-root {
    width: 47%;
  }
}

@media (max-width: 576px) {
  .ContactUsForm > div > .MuiTextField-root {
    width: 100%;
  }

  .ContactUsForm > div:not(:first-child)  {
    flex-direction: column;
  }
}

.ContactUsForm textarea {
  min-height: 80px;
}

.ContactUsForm .email-icon {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  display: inline-flex;
  background: #323262;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  transform: rotate(-0.1turn);
  transition: all 0.4s;
}

.ContactUsForm .submit-button {
  background: #FAE912;
  color: #323262 !important;
  font-weight: 500;
  border-radius: 80%;
  border-radius: 17px;
  padding: 5px 7px 5px 16px;
  font-size: 14.5px;
}

.ContactUsForm .submit-button:not(:disabled):hover .email-icon {
  transform: rotate(0);
}

.ContactUsForm .submit-button:hover {
  background: yellow;
}

.ContactUsForm .submit-button:focus {
  box-shadow: 0 0 0 2px #c1c118;
}

.ContactUsForm .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
  color: skyblue;
}

.ContactUsForm .MuiOutlinedInput-root.Mui-focused:not(.Mui-error) fieldset {
  border-color: skyblue;
}

.ContactUsForm .MuiInput-underline:not(.Mui-error):after {
  border-bottom-color: skyblue !important;
}
