.MessagesPage {
  padding: 85px 15px 30px 15px;
}

.MessagesPage .MessageCard {
  margin: 16px;
}

.MessagesPage .MessageCard {
  width: 400px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .MessagesPage .MessageCard {
    width: 300px;
  }
}


@media (max-width: 767px){
  .MessagesPage .MessageCard {
    margin: 16px 0;
  }
}